body{
    color: white;
    background: black;
    margin: 0px;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 100px;
}

header{
 border-bottom: solid 1px rgb(255, 255, 0);
 padding: 37px;
 font-size: 23px;
 color:yellow
}

.chamada{

    background: rgb(26, 121, 112 );
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 40px;
    display: flex;
   
}

.chamada-texto{
    margin-right: 4%;
}

h1{

    font-size: 36px;
}


.categoria-videos{

    display: flex;
    overflow-x: auto;
    gap: 20px;

}

.catalogo{

   padding-left: 37px;
   padding-right: 37px;
     

}

.categoria-videos img{

   opacity: 0.5;
   height: 200px;

}

.categoria-videos img:hover{

   opacity: 1.0;
   border: 1px solid rgb(34, 219, 195)
}

.catalogo h2{

    color:yellow

}

